* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --primaryColor: #dd9127; */
  --primaryColor: #ebbc79;
  --white: #fff;
  --black: #000;
  --offWhite: #f7f7f7;
  --mainText: #000;
  --grayDark: #333239;
  --secondText: #686868;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --dmSans: "DM Sans", sans-serif;
  --ptSerif: "PT Serif", serif;
  --roboto: "Roboto", sans-serif;
}

/* globals */
body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: var(--dmSans);
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondText);
  font-family: var(--ptSerif);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 46px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

/* Button style */
.btn-primary {
  text-align: center;
  margin: 0 auto;
  border-radius: 50px;
  padding: 1.5em 3em;
  font-family: var(--dmSans);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
}

.to-room {
  color: var(--white);
  background: var(--primaryColor);
}

.to-room i {
  margin-left: 10px;
}

.to-room:hover {
  background: var(--white);
  color: var(--mainText);
}

.to-special-featured {
  color: var(--black);
  background: var(--white);
}

.to-special-featured i {
  margin-left: 10px;
}

.to-special-featured:hover {
  color: var(--white);
  background: var(--black);
}

/* Section title */

.section-title {
  text-align: center;
}

.section-title h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
}

.section-title img {
  width: 25px;
  margin-bottom: 10px;
}

/* Top Nav */
.top {
  width: 100%;
  background-color: var(--grayDark);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.top-nav h6 {
  font-weight: 500;
}

.top-phone {
  color: var(--primaryColor);
}

.top-address {
  color: var(--white);
}

/* Navigation */

nav {
  display: flex;
  padding: 1.5em 0;
  justify-content: center;
  align-items: center;
}

.nav-left,
.nav-right {
  display: grid;
  gap: 3em;
  grid-template-columns: 1fr 1fr;
}

.nav-left li h6,
.nav-right li h6 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-left li h6:hover,
.nav-right li h6:hover {
  color: var(--primaryColor);
}

.logo {
  width: 150px;
  margin: 0 5em;
}

.logo img {
  width: 100%;
}

/* Hero */

.defaultHero,
.roomsHero {
  min-height: 800px;
  background: url("../images/home.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomsHero {
  background-image: url("../images/home.jpg");
  min-height: 60vh;
}

/* Banner */

.banner {
  text-align: center;
}

.banner p {
  font-family: var(--ptSerif);
  color: #fff;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 1.5em;
}

/* Featured Rooms */

.featured-rooms {
  background: #edebe5;
  padding: 8em 0;
}

/* Room */

.room {
  position: relative;
  width: 100%;
  /* height: 400px; */
  margin: 0 0.7em;
  background-color: var(--white);
}

.img-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.room .img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  position: relative;
}

/* [2] Transition property for smooth transformation of images */
.room .img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  transition: 0.5s;
}

/* [3] Finally, transforming the image when container gets hovered */
.room:hover .img-hover-zoom img {
  transform: scale(1.5);
}
.room:hover .img-hover-zoom .img-shadow {
  opacity: 0.5;
}

.room-info {
  padding: 2em;
  text-transform: capitalize;
}

.room-info h4 {
  font-size: 21px;
  margin-bottom: 8px;
  transition: 0.3s ease-in;
}

.room-info h4:hover {
  color: #dd9836;
}

.room-additional-info {
  display: flex;
}

.room-price {
  position: absolute;
  z-index: 99;
  top: 30px;
  left: 30px;
  opacity: 0;
  transition: 0.5s;
}

.room-price p {
  color: var(--white);
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

.room-price p span {
  font-size: 27px;
  color: #e4a853;
}

.room:hover .img-hover-zoom .room-price {
  opacity: 1;
}

.room-size {
  font-family: var(--dmSans);
  margin-right: 7px;
  font-size: 15px;
  color: #686868;
}

.room-type {
  font-family: var(--dmSans);
  margin: 0 7px;
  font-size: 15px;
  color: #686868;
}
