* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --primaryColor: #dd9127; */
  --primaryColor: #ecb05a;
  --white: #fff;
  --black: #000;
  --grayBg: #edebe5;
  --offWhite: #f7f7f7;
  --mainText: #000;
  --grayDark: #333239;
  --secondText: #686868;
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --dmSans: "DM Sans", sans-serif;
  --ptSerif: "PT Serif", serif;
  --roboto: "Roboto", sans-serif;
}

/* globals */
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: var(--dmSans);
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondText);
  font-family: var(--ptSerif);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 46px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

.roomslist-container {
  width: 1200px;
  margin: 0 auto;
}

/* Button style */
.btn-primary {
  text-align: center;
  margin: 0 auto;
  border-radius: 50px;
  padding: 1.5em 3em;
  font-family: var(--dmSans);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
}

.to-room {
  color: var(--white);
  background: var(--primaryColor);
}

.to-room i {
  margin-left: 10px;
}

.to-room:hover {
  background: var(--white);
  color: var(--mainText);
}

.to-special-featured {
  color: var(--black);
  background: var(--white);
}

.to-special-featured i {
  margin-left: 10px;
}

.to-special-featured:hover {
  color: var(--white);
  background: var(--black);
}

/* Section title */

.section-title {
  text-align: center;
}

.section-title h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
}

.section-title img {
  width: 25px;
  margin-bottom: 10px;
}

/* Top Nav */
.top {
  width: 100%;
  background-color: var(--grayDark);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.top-nav h6 {
  font-weight: 500;
}

.top-phone {
  color: var(--primaryColor);
}

.top-address {
  color: var(--white);
}

/* Hero */

.defaultHero,
.roomsHero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.defaultHero {
  background: url("../images/home.jpg") center/cover no-repeat;
  height: 800px;
}

.roomsHero {
  background-image: url("../images/rooms-breadcrumbs.jpg");
  height: 450px;
}

/* Banner */

.banner {
  text-align: center;
}

.banner h1 {
  color: var(--white);
  font-size: 3em;
  text-transform: capitalize;
}

.banner p {
  font-family: var(--ptSerif);
  color: #fff;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 1.5em;
}

/* Footer */

footer {
  width: 100%;
  background: var(--grayDark);
}

.footer-container {
  width: 1100px;
  margin: 0 auto;
}

.footer-info {
  padding: 4em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.footer-info div {
  padding: 1em;
}

.footer-info div h6 {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 4px;
  color: var(--primaryColor);
  margin-bottom: 15px;
}

.footer-info div p {
  color: #bdbdbd;
  line-height: 33px;
}

.footer-logo img {
  width: 70%;
}

.footer-slash {
  background: #bdbdbd;
  width: 100%;
  height: 1px;
  opacity: 0.4;
}

.icons-wrap {
  display: flex;
  justify-content: space-between;
}

.social-footer a i {
  color: #f0f0f0;
}

.social-footer a i:hover {
  color: var(--primaryColor);
}

.copyright {
  padding: 4em 0;
  text-align: center;
}

.copyright p {
  color: #bdbdbd;
}
