.to-home-room {
  color: white;
  background-color: var(--primaryColor);
}

.to-home-room:hover {
  background-color: white;
  color: black;
}

/* Rooms Filter */

.filter-container {
  background: var(--grayBg);
  padding: 3em 0 3em;
}

.filter-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
}

.extra {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1300px) {
  .filter-form {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .extra {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1000px) {
  .filter-form {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .extra {
    justify-content: center;
  }

  .breakfast {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .filter-form {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
  }
}

.form-group {
  text-align: center;
}

.form-group select,
.form-group input {
  background-color: #f3f3f0;
  border-radius: 3px;
  border: 1px solid rgb(187, 187, 187);
}

.form-group label {
  font-size: 13px;
  letter-spacing: 1px;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--dmSans);
}

.form-control {
  width: 100%;
  outline: none;
  height: 30px;
  padding: 0 8px;
  margin-top: 10px;
}

.size-inputs {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.size-inputs input {
  outline: none;
  height: 30px;
  padding: 0 8px;
}

.single-extra {
  text-align: left;
}

.single-extra input {
  margin-right: 0.5em;
}

/* Rooms list container -> rooms page */

.empty-search {
  background-color: var(--grayBg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomslist {
  background-color: var(--grayBg);
  padding-bottom: 5em;
}

.roomslist-center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
