@media only screen and (max-width: 1300px) {
  .container {
    width: 95%;
  }

  .footer-container {
    width: 95%;
  }

  .roomslist-container {
    width: 90%;
    margin: 0 auto;
  }

  .filter-form {
    flex-grow: 1;
  }
}

@media only screen and (max-width: 726px) {
  .price {
    margin-top: 2em;
  }
}

@media only screen and (max-width: 1050px) {
  .room-info {
    padding: 2em;
  }

  .room-info h4 {
    font-size: 19px;
  }

  .section-title h6 {
    font-size: 11px;
  }

  .section-title h1 {
    font-size: 40px;
  }

  .logo {
    width: 120px;
  }

  .banner img {
    width: 80%;
  }

  .banner p {
    font-size: 25px;
  }

  #welcome {
    padding: 3em 0;
  }

  .welcome-wrap {
    grid-template-columns: 1fr;
  }

  .welcome-info {
    /* background: maroon; */
    padding: 2em 2em;
  }

  .welcome-img {
    text-align: center;
  }

  .welcome-img img {
    width: 60%;
    margin: 2em auto;
  }

  .featured-special {
    padding: 3em 0;
  }

  .special-item-wrap {
    gap: 0 1em;
  }

  .featured-rooms {
    padding: 4em 0;
  }

  .img-container img {
    height: 250px;
  }

  .room .img-hover-zoom {
    height: 250px;
    overflow: hidden;
  }

  .services {
    padding-top: 3em;
    padding-bottom: 5em;
  }

  .testimonials {
    padding: 0.5em 0 2.5em;
  }

  .myCarousel h4 {
    font-size: 15px;
  }

  .myCarousel h5 {
    font-size: 13px;
  }

  .carousel .slide .testimonial-company {
    width: 80px;
    margin-bottom: 1em;
  }
  .carousel .slide .testimonial-person {
    margin-top: 2em;
  }

  .myCarousel p {
    font-size: 20px;
  }

  .experience {
    height: 80vh;
  }

  .experience-info h3 {
    font-size: 23px;
  }

  .experience-contact {
    font-size: 18px;
  }

  .experience-word {
    width: 60%;
  }

  .footer-info {
    padding: 4em 0;
    gap: 0.4em;
  }

  .footer-info div {
    padding: 0.5em;
  }

  /* Gallery page */

  .single-img {
    height: 250px;
  }

  /* Contact pages */

  .contact-info {
    flex-direction: column;
  }

  .contact-info-left h1 {
    font-size: 37px;
  }

  .contact-info-left {
    width: 100%;
  }

  .contact-info-right {
    margin-top: 2em;
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {
  .roomslist-center {
    gap: 1em;
  }

  .img-container {
    height: 230px !important;
  }

  .carousel .slide {
    padding-bottom: 3em;
  }

  .carousel .slide .testimonial-company {
    margin-top: 3em;
    width: 90px !important;
  }

  .myCarousel {
    border: none;
    background: transparent !important;
    height: 500px;
  }

  .special-item-wrap {
    gap: 0;
  }

  .special-item {
    height: 330px;
  }

  .special-item .subTitle {
    font-size: 13px;
  }

  .special-item .title {
    font-size: 22px;
  }

  .special-item div {
    padding: 2em 1em;
  }

  .special-gold {
    height: 330px;
  }

  .special-gold div h6 {
    font-size: 12px;
  }

  .special-gold div h3 {
    font-size: 22px;
    margin-bottom: 0.5em;
  }

  .special-gold,
  .special-item {
    height: 350px;
  }

  .special-gold div {
    padding: 1em;
  }

  .services-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
  }

  .footer-logo {
    display: none;
  }

  .footer-info {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* Gallery pages */

  .gallery-wrap {
    grid-template-columns: 1fr 1fr;
  }

  .form-wrap {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 850px) {
  .roomslist-center {
    grid-template-columns: 1fr 1fr;
  }

  /* Gallery pages */

  .gallery {
    padding: 4em 0;
  }

  .gallery-wrap {
    margin-bottom: 3em;
  }

  /* Contact pages */

  .contact-info-right {
    grid-template-columns: 1fr 1fr;
    row-gap: 2em;
  }

  .box-info:nth-child(2) {
    border: none;
  }

  /* Contact */

  .contact-info {
    padding: 3em 0;
  }

  .contact-info-left h1 {
    font-size: 30px;
  }

  .form-wrap {
    grid-template-columns: 1fr;
  }

  .contact-form-section {
    padding-bottom: 3em;
  }

  .mapouter {
    height: 500px;
  }
}

@media only screen and (max-width: 690px) {
  .price,
  .room-size {
    margin-top: 1em;
  }

  .break-pet {
    margin-top: 1.4em;
  }

  .roomslist-center {
    grid-template-columns: 1fr;
  }

  .btn-primary {
    font-size: 10px;
  }

  .top-phone,
  .top-address {
    font-size: 13px;
  }

  .defaultHero,
  .roomsHero {
    height: 500px !important;
  }

  .banner p {
    font-size: 20px;
  }

  .special-item-wrap {
    grid-template-columns: 1fr;
  }

  .footer-info {
    grid-template-columns: 1fr 1fr;
  }

  .footer-info div {
    padding: 1.5em;
    text-align: center;
  }

  /* Gallery pages */

  .gallery {
    padding: 4em 0;
  }

  .gallery-wrap {
    margin-bottom: 3em;
  }

  .gallery-wrap {
    grid-template-columns: 1fr;
  }

  /* Contact */

  .contact-info-left {
    padding: 0 1em;
  }

  .contact-info-right {
    gap: 0;
    grid-template-columns: 1fr;
  }

  .box-info {
    text-align: center;
    gap: 0;
    /* background: maroon; */
  }
}

@media only screen and (max-width: 600px) {
  .section-title h6 {
    font-size: 10px !important;
  }

  .section-title h1 {
    font-size: 34px;
  }

  #welcome {
    padding: 2em 0;
  }

  .welcome-img img {
    width: 100%;
  }

  .services-grid {
    margin-top: 2em;
    grid-template-columns: 1fr;
    row-gap: 1em;
  }

  .service:nth-child(odd) {
    background: var(--white);
  }

  .orange-ball {
    display: none;
  }

  .service .service-icon i {
    animation: heartbeat 2s infinite;
    color: #e6a54a;
  }

  .myCarousel {
    width: 100% !important;
  }

  .myCarousel p {
    font-size: 18px;
    line-height: 28px !important;
  }

  .carousel .slide {
    padding-bottom: 1.5em;
    height: 450px;
  }

  .carousel .slide .testimonial-company {
    margin-top: 2em;
  }

  .myCarousel {
    border: none;
    background: transparent !important;
    height: 500px;
  }

  .footer-info {
    grid-template-columns: 1fr;
  }

  .icons-wrap {
    justify-content: space-around;
  }

  .icons-wrap i {
    font-size: 22px;
  }
}
